.DS_Store
.Rproj.user
.Rhistory
.RData
*.Rproj
img/*
cache
results
less*
more*
*.bed
*.xls*
*.pdf
*.html
*.zip
*.tar.gz
node_modules
AllNet3.net
autoimmune/R.GR.autoimmune/data/*
autoimmune/bed500/*
autoimmune/jaccard/*
gwasCatalog/data/*
tumorportal/R.GR.tumorportal/data.gr/*

