.DS_Store
.Rproj.user
.Rhistory
.RData
*.Rproj
img
cache
results
less*
more*
*.bed
*.gif
*.xls*
*.pdf
*.html
*.zip
*.tar.gz
node_modules
AllNet3.net
atlas_24*
Disease-Disease_v1.txt
FinalPhenotypes_new.txt
human-*
autoimmune/R.GR.autoimmune/data*
autoimmune/bed*
autoimmune/data*
autoimmune/jaccard/*
genes/data/*
gwasCatalog/data/*
gwasCatalog/R.GR.gwasCatalog/
Methylation17tissues/*.txt
psychiatric/data*
tumorportal/data
tumorportal/R.GR.tumorportal


